/* GLOBAL */
@import "./common/variables";
@import "./common/mixins";
@import "./common/fonts";
@import "./common/global";

/* BLOCKS */
@import "./blocks/page";
@import "./blocks/main-header";
@import "./blocks/main-nav";
@import "./blocks/main-container";
@import "./blocks/hero";
@import "./blocks/options";
@import "./blocks/about";
@import "./blocks/example";
@import "./blocks/facts-list";
@import "./blocks/catalog";
@import "./blocks/catalog-card";
@import "./blocks/values-list";
@import "./blocks/show-more";
@import "./blocks/extra";
@import "./blocks/extra-card";
@import "./blocks/bonus";
@import "./blocks/subscribe";
@import "./blocks/email-form";
@import "./blocks/partnership";
@import "./blocks/main-footer";
@import "./blocks/social-list";
