.about {
  @include mobile-width;

  @media (min-width: $tablet-width) {
    @include tablet-width;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    @include desktop-width;
  }
}

.about__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 60px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 280px;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 49px;
  padding: 0;

  list-style-type: none;
  counter-reset: item;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 37px 155px;
    min-width: 82%;
    max-width: 100%;
    margin: 0;
    margin-bottom: 45px;
    padding-bottom: 47px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      height: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #e6e6e6;
    }
  }

  @media (min-width: $desktop-width) {
    column-gap: 95px;
    width: 100%;
    margin-bottom: 69px;
    padding-bottom: 0;

    &::after {
      content: none;
    }
  }
}

.about__item {
  position: relative;

  min-height: 60px;
  padding-left: 80px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    width: 230px;
    min-height: 280px;

    padding: 0;
    padding-top: 151px;
    padding-bottom: 57px;

    &::after {
      content: counter(item);
      counter-increment: item;

      position: absolute;
      z-index: -1;
      right: 0;
      top: 0;

      display: block;
      width: 121px;

      font-family: $secondary-font;
      font-size: 280px;
      line-height: 280px;
      text-align: right;
      color: #f2f2f2;
    }
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }

  &::before {
    content: "";

    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;

    background-color: $basic-green;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 40px;

      width: 80px;
      height: 80px;
    }
  }
}

.about__item--healthy::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}

.about__item--powder::before {
  background-image: url("../../icons/stack.svg#icon-mix");
  background-size: 26px 29px;
}

.about__item--replace::before {
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 25px 30px;
}

.about__item--when::before {
  background-image: url("../../icons/stack.svg#icon-scales");
  background-size: 26px 31px;
}

.about__description {
  width: 200px;
  margin: 0;

  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 245px;

    font-size: 16px;
    line-height: 24px;
  }
}
