.bonus {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
}

.bonus__desc {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
