.button-primary {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #68b738;
  text-transform: uppercase;
  text-decoration: none;

  &--bigger {
    font-family: $secondary-font;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;

    background-color: #68b738;
    text-transform: uppercase;
  }
}

