.catalog-card__image {
  display: block;
  width: 140px;
  height: 107px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 12px;
  }
}

.catalog-card__product-info {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.catalog-card__title {
  width: 76px;
  margin: 0;
  margin-bottom: 14px;

  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.catalog-card__title span {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog-card__values {
  margin: 0;
}

.catalog-card__button {
  @include button-primary;
  grid-column: 1/-1;
  padding: 10px 110px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 10px 95px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 55px;
  }
}
