.catalog {
  @media (min-width: $tablet-width) {
    @include tablet-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-width;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;
  padding-top: 27px;
  padding-left: 20px;

  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    padding-top: 0;
    padding-left: 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 60px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    gap: 63px 82px;

    margin-bottom: 71px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  padding-bottom: 25px;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid #ebebeb;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 250px;
    justify-items: center;
    padding: 10px 37px 40px;

    background: linear-gradient(to top, #f2f2f2 84%, #ffffff 84%);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 169px;
  }
}

.catalog__item--show-more {
  display: block;
  padding: 0;
  background: none;
}

.catalog__show-more {
  margin-bottom: 26px;

  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
    margin-bottom: 0;

    border: 1px solid #f2f2f2;
  }
}
