.catalog {
  overflow-x: hidden;
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;
  padding-top: 27px;

  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    padding-top: 0;
    padding-left: 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 63px 80px;

    margin-bottom: 71px;
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
  padding-bottom: 25px;

  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;

      width: 100vw;
      height: 1px;

      background-color: #ebebeb;
      box-shadow: -100vw 0 #ebebeb;
    }
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: minmax(250px, 1fr);
    justify-items: center;
    padding: 10px 37px 40px;

    background: linear-gradient(to top, #f2f2f2 84%, #ffffff 84%);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: minmax(169px, 1fr);
  }
}

.catalog__item--show-more {
  display: block;
  padding: 0;
  background: none;
}

.catalog__show-more {
  margin-bottom: 26px;

  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
    margin-bottom: 0;

    border: 1px solid #f2f2f2;
  }
}
