.email-form__input {
  width: 100%;
  height: 56px;
  margin-bottom: 16px;
  padding: 13px;

  font-family: $secondary-font;
  font-size: 20px;
  color: #444444;

  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    width: 376px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }

  &::placeholder {
    color: #000000;
    text-transform: uppercase;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: none;
    border: 2px solid #444444;
  }

  &--error {
    border: 2px solid #ff8282;
  }
}

.email-form__button {
  @include button-primary;

  width: 100%;
  min-height: 56px;
  padding: 10px 80px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding: 15px 70px;
    margin-bottom: 80px;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}
