.email-form__input {
  width: 100%;
  height: 56px;
  margin-bottom: 15px;
  padding: 12px;

  font-family: $secondary-font;
  font-size: 20px;
  color: #444444;

  border: 1px solid #e7e7e7;

  transition: border 0.3s;

  @media (min-width: $tablet-width) {
    width: 376px;
    height: auto;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }

  &::placeholder {
    color: #000000;
    text-transform: uppercase;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: inset 2px 2px #444444, inset -2px -2px #444444;
  }

  &--error {
    border: none;
    box-shadow: inset 2px 2px #ff8282, inset -2px -2px #ff8282;
  }
}

.email-form__button {
  @include button-primary;

  width: 100%;
  min-height: 56px;
  padding: 10px 80px;

  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 256px;
    padding: 15px 70px;
  }
}
