.example {
  @include mobile-width;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include tablet-width;
    padding-top: 0;
    padding-bottom: 101px;

    background: linear-gradient(to bottom, #ffffff 55.3%, #eaeaea 55.3%);
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    @include desktop-width;
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-column-gap: 224px;
    padding-top: 0;
    padding-bottom: 75px;

    background: linear-gradient(to bottom, #ffffff 23%, #f2f2f2 23%);
  }


  background-color: #eaeaea;
}

.example__text-wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__info-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 103px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    grid-column: 1/2;

    margin-bottom: 0;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;

  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__facts {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    gap: 42px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;
    margin-bottom: 60px;
  }
}

.example__cost {
  margin: 0;
  margin-bottom: 20px;

  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-shrink: 0;
    width: 175px;
    margin: 0;
    padding-top: 11px;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 63px;

    width: 100%;
    padding-top: 0;

    text-align: start;
  }
}

.example__cost span {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.example__cat-slider {
  position: relative;

  display: grid;
  grid-template-columns: 140px 140px;
  width: 280px;
  height: 256px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 280px 280px;
    grid-column: 2/-1;
    grid-row: 1/3;
    width: 560px;
    height: 512px;
  }
}

.example__slider {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 4px;

  background-color: #666666;
  border-radius: 2px;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18px;
    display: block;
    width: 40px;
    height: 40px;

    background-image: url("../../icons/stack.svg#icon-slider");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 18px;
    background-color: #ffffff;

    border: 2px solid #666666;
    border-radius: 50%;
    content: "";
    cursor: pointer;
  }
}

.example__image-wrapper {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 256px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 280px;
    height: 512px;
  }
}

.example__image {
  position: absolute;
  left: 0;

  display: block;
  min-width: 280px;
  min-height: 256px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    min-width: 560px;
    min-height: 512px;
  }
}

.example__image--right {
  left: auto;
  right: 0;
}
