.extra {
  @include mobile-width;

  @media (min-width: $tablet-width) {
    @include tablet-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-width;
  }
}

.extra__title {
  position: relative;

  margin: 0;
  margin-bottom: 34px;

  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;

    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.extra__title span {
  @include header-decoration;
}

.extra__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 896px 245px;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
  }
}

.extra__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.extra__item {
  position: relative;

  margin-bottom: 19px;
  padding-top: 13px;

  border-top: 1px solid #cdcdcd;

  &:last-child {
    margin-bottom: 55px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-bottom: 0;
    padding: 26px 38px 28px;

    border: 1px solid #cdcdcd;
    border-bottom: none;

    &:last-child {
      margin-bottom: 70px;

      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 285px) 1fr;
    grid-template-rows: 40px;
    align-items: center;
    column-gap: 40px;
    padding: 15px 0 16px;

    border-right: none;
    border-left: none;

    &:last-child {
      margin-bottom: 96px;
    }
  }
}

.extra__bonus {
  position: relative;
  min-height: 290px;
  margin-bottom: 40px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 707px;
    min-height: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 288px;
    margin: 0;
  }


  &::before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../../images/catalog/background-bonus-mobile@1x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    opacity: 0.15;

    @media (max-width: calc($tablet-width - 1px)) and (min-resolution: 2x) {
      background-image: url("../../images/catalog/background-bonus-mobile@2x.png");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../../images/catalog/background-bonus-tablet@1x.png");
    }

    @media (min-width: $tablet-width) and (min-resolution: 2x) {
      background-image: url("../../images/catalog/background-bonus-tablet@2x.png");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../images/catalog/background-bonus-desktop@1x.png");
    }

    @media (min-width: $desktop-width) and (min-resolution: 2x) {
      background-image: url("../../images/catalog/background-bonus-desktop@2x.png");
    }
  }
}
