.extra-card {

}

.extra-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;

  text-transform: uppercase;
}

.extra-card__values {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
