.facts-list {

}

.facts-list__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
}

.facts-list__description {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
}
