.main-footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 320px;
  margin: 0;

  @include mobile-width;
  padding-top: 40px;
  padding-bottom: 40px;
  list-style-type: none;

  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @include tablet-width;
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-width;
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__part {
  @media (max-width: $mobile-width-only) {
    width: 100%;

    &:not(:last-child) {
      padding-bottom: 17px;

      border-bottom: 1px solid #d9d9d9;
    }
  }
}

.main-footer__text-logo {
  display: block;
  margin: 0 auto;
}

.main-footer__text-logo-link {
  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  min-width: 132px;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 480px;
  }
}

.main-footer__developer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  min-height: 37px;
  margin: 0 auto;

  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;

  transition: opacity 0.3s;

  @media (min-width: $tablet-width) {
    width: 168px;
    padding-left: 5px;
  }


  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";

    display: block;
    width: 27px;
    height: 34px;

    mask-image: url("../../icons/stack.svg#logo-academy");
    mask-size: 27px 34px;

    background-color: #666666;

    transition: background-color 0.3s;
  }

  &:hover::after,
  &:focus::after {
    background-color: #68b738;
  }
}
