.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 13px 20px 15px;

  &--catalog {
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 30px 65px;

    &--catalog {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 110px 55px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 190px;
  text-decoration: none;
}

.main-header__logo-image {
  display: block;
  margin-right: 56px;
}

.main-header__toggle {
  display: block;
  width: 18px;
  height: 18px;

  border: none;
  background-color: transparent;

  background-image: url("../../icons/stack.svg#icon-burger");
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--is-opened {
  background-image: url("../../icons/stack.svg#icon-close");
}
