.main-header {
  position: relative;

  @include mobile-width;
  padding-top: 13px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    @include tablet-width;
    padding-top: 25px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-width;
    padding-top: 55px;
    padding-bottom: 74px;
  }

  &--catalog {
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.main-header__logo-image {
  display: block;
}
