.main-nav {
  max-width: 65%;

  @media (max-width: $mobile-width-only) {
    &--hidden .main-nav__wrapper {
      display: none;
    }

    &--nojs {
      width: 100%;
      max-width: 100%;
    }

    &--nojs .main-nav__wrapper {
      position: static;
      display: block;
      margin: 13px -20px -14px;
    }
  }

  &--nojs .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 18px;
  right: 21px;

  display: block;
  width: 25px;
  height: 25px;

  border: none;
  background-color: transparent;

  background-image: url("../../icons/stack.svg#icon-burger");
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle--is-opened {
  background-image: url("../../icons/stack.svg#icon-close");
}


.main-nav__wrapper {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 65px;

  min-width: 320px;

  @media (max-width: $mobile-width-only) {
    background-color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;

    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 33px;
    flex-wrap: wrap;
    min-width: 436px;
    margin-right: 4px;
  }

  @media (min-width: $desktop-width) {
    min-width: 478px;
    margin-right: 0;
  }
}

.main-nav__item {
  position: relative;

  display: block;

  text-align: center;

  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;

    &--current::after {
      position: absolute;
      right: 0;
      bottom: 2px;
      left: 0;

      display: block;
      height: 2px;

      background-color: $basic-green;
      content: "";
    }
  }
}

.main-nav--inner .main-nav__item--current::after {
  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.main-nav a {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;

  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: #000000;

  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
    padding-bottom: 10px;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav--inner a {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}
