.options {
  @include mobile-width;

  @media (min-width: $tablet-width) {
    @include tablet-width;
  }

  @media (min-width: $desktop-width) {
    @include desktop-width;
  }
}

.options__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.options__item {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 30px 20px 18px;

  background-color: #f2f2f2;

  & + .options__item {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 316px 53px 53px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    max-width: 47%;
    margin: 0;
    padding-right: 61px;
    padding-bottom: 55px;
    padding-left: 52px;
  }
}

.options__item--slim {
  background-image: url("../../icons/stack.svg#icon-slim");
  background-size: 50px 53px;
  background-repeat: no-repeat;
  background-position: top 21px left 20px;

  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
    background-position: top 80px right 63px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 106px;
    background-position: top 41px left 52px;
  }
}

.options__item--mass {
  background-image: url("../../icons/stack.svg#icon-mass");
  background-size: 67px 50px;
  background-repeat: no-repeat;
  background-position: top 24px left 13px;

  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
    background-position: top 90px right 33px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    background-position: top 47px left 33px;
  }
}

.options__title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 70px;

  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.options__description {
  max-width: 457px;

  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;

  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;

    font-size: 16px;
    line-height: 24px;
    color: #000000;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.options__link {
  position: relative;

  box-sizing: content-box;
  display: block;
  width: fit-content;
  max-width: 100%;
  padding-top: 4px;
  padding-right: 45px;
  padding-bottom: 4px;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-right: 57px;

    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 32px;
    height: 11px;

    background-color: #000000;
    content: "";
    mask-image: url("../../icons/stack.svg#icon-arrow");
    mask-repeat: no-repeat;
    mask-position: 0;
  }
}
