.options__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 71px;
    padding: 0 110px;
  }
}

.options__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 30px;

  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
  }
}

.options__item--slim {
  background-image: url("../../icons/stack.svg#icon-slim");
  background-size: 50px 53px;
  background-repeat: no-repeat;
  background-position: top 21px left 20px;
}

.options__item--mass {
  background-image: url("../../icons/stack.svg#icon-mass");
  background-size: 67px 50px;
  background-repeat: no-repeat;
  background-position: top 24px left 13px;
}

.options__title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 70px;

  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;

  text-transform: uppercase;
}

.options__description {
  margin: 0;
  margin-bottom: 38px;

  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.options__link {
  position: relative;

  display: block;
  width: 136px;
  padding-right: 50px;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: -15px;

    display: block;
    width: 240px;
    height: 1px;

    background-color: #d9d9d9;
    content: "";
  }

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: inline-block;
    width: 32px;
    height: 10px;

    background-color: #000000;
    content: "";
    mask-image: url("../../icons/stack.svg#icon-arrow");
    mask-repeat: no-repeat;
  }
}
