.page {
  position: relative;

  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
}
