.partnership {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.partnership__info {
  display: flex;
  justify-content: space-between;

  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 565px;
    padding-right: 80px;
    padding-left: 80px;

    background-color: #ffffff;
  }

  &--in-catalog {
    background-color: #f2f2f2;
  }
}

.partnership__title {
  width: 140px;
  margin: 0;

  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 163px;

    font-size: 20px;
    line-height: 26px;
  }
}

.partnership__address {
  width: 140px;
  margin: 0;

  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 157px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.partnership__map {
  display: block;
  width: 100%;
}
