.show-more {
  padding: 25px 20px 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding: 50px 37px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.show-more__title {
  position: relative;

  margin: 0;
  margin-bottom: 8px;
  padding-top: 53px;

  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-right: auto;
    margin-bottom: 23px;
    margin-left: auto;
    padding-top: 110px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;

    @media (min-width: $tablet-width) {
      top: 30px;

      width: 60px;
    }
  }

  &::after {
    transform: translateX(-50%) rotate(90deg);
  }
}

.show-more__subtitle {
  margin: 0;
  margin-bottom: 21px;

  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-right: auto;
    margin-bottom: 82px;
    margin-left: auto;

    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 92px;
  }
}

.show-more__button {
  @include button-secondary;

  padding: 10px 95px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 250px;
    padding: 10px 80px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding: 10px 39px;
  }
}
