.show-more {

}

.show-more__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;

  text-transform: uppercase;
}

.show-more__subtitle {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
