.values-list {

}

.values-list__value {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.values-list__description {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

