.values-list {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.values-list__item {
  display: flex;
  justify-content: space-between;
}

.values-list__description {
  margin: 0;
}
